<h2>Add book</h2>
<form [formGroup]='bookForm' class="form-group">

	<label>Book name *</label>
	<input type="text" class="form-control" placeholder="Enter book name" formControlName="name" [ngClass]="{'is-invalid': nameErrorMessage}"/>
	<div class="invalid-feedback">
		{{nameErrorMessage}}
	</div>

	<div>
		<label>Author</label>
		<div formArrayName="authors" *ngFor="let author of authors.controls; let i=index">
			<select *ngIf="authors$ | async as authors" class="form-control" [formControlName]="i">
      <option selected>Select author</option>
      <option *ngFor="let author of authors">{{author}}</option>
    </select>
		</div>
		<button class="btn btn-primary" (click)="addAuthor()" [disabled]="!authors.valid">Add Author</button>
	</div>

	<label>Genre</label>
	<div formArrayName="genres" *ngFor="let genre of genres.controls; let i=index">
		<select *ngIf="genres$ | async as genres" class="form-control" [formControlName]="i">
      <option selected>Select genre</option>
      <option *ngFor="let genre of genres">{{genre}}</option>
    </select>
	</div>
	<div>
		<button class="btn btn-primary" (click)="addGenre()">Add Genre</button>
	</div>
	<label>Rating</label>
	<input type="number" class="form-control" placeholder="Enter rating" formControlName="rating" [ngClass] ="{'is-invalid': bookForm.get('rating').errors}">
	<div class="invalid-feedback" *ngIf="bookForm.get('rating').errors?.invalidRating">
		{{ratingErrorMessage}}
	</div>
	<button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Add book</button>
</form>