<h2>Add book</h2>
<form [formGroup]='bookForm' class="form-group">

	<label>Book name *</label>
	<input type="text" class="form-control" placeholder="Enter book name" formControlName="name" [ngClass]="{'is-invalid': bookForm.get('name').errors}"/>
  <div class="invalid-feedback" *ngIf="bookForm.get('name').errors?.invalidBook">
    {{errorMessage}}
  </div>

    <label>Author</label>
	<select *ngIf="authors$ | async as authors" class="form-control" formControlName="author">
      <option selected>Select author</option>
      <option *ngFor="let author of authors">{{author}}</option>
    </select>

	<label>Genre</label>
	<select *ngIf="genres$ | async as genres" class="form-control" formControlName="genre">
      <option selected>Select genre</option>
      <option *ngFor="let genre of genres">{{genre}}</option>
    </select>

	<label>Rating</label>
	<input type="number" class="form-control" placeholder="Enter rating" formControlName="rating">

	<button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Add book</button>
</form>